.category {
  background: linear-gradient(to right, #5d26c1, #a17fe0, #59c173);
  padding: 4px 10px;
  color: white;
  border-radius: 12px;
}
.spinner {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 60px;
  height: 60px;
}

.product-image {
  width: 80%;
}

@media screen and (max-width: 990px) {
  .product-image {
    width: 100%;
  }
  .first-col {
    order: 2;
    margin-top: 50px;
  }
  .second-col {
    order: 1;
  }
}
