.spinner {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 60px;
  height: 60px;
  z-index: 100;
}

.grey-band {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;

  .search {
    height: 30px;
    outline: none;
    border: 1px solid #a17fe0;
    border-radius: 20px;
    padding: 10px;
    width: 20%;
  }
}
