.spinner {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 60px;
  height: 60px;
  z-index: 100;
}

// .grey-band {
//   height: 50px;
//   // background-color: #a17fe0;
//   background-color: lightgrey;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   padding: 20px;

//   .search {
//     height: 30px;
//   }
// }
